nav{
    margin-bottom: 5px;
}
.nav-item{
    margin-left: 50px;
}
div img{
    object-fit: cover;
}
section{
    margin-top: 5px;
}
.row{
    margin-bottom: 10px;
}
body{
    background-color: lightseagreen;
}